<div class="instructors clearfix">
  {% for local_team in site.data.staff.Local_team %}
  <div class="instructor-profile-two-col">
    <a href="{{ local_team.url }}" target="_blank"><img src="{{ local_team.image | prepend: '/assets/img/' | relative_url }}" /></a>
    <ul class="instructor-info">
      <li> <a href="{{ local_team.url }}" target="_blank">{{ local_team.name }}</a></li>
      <li>{{ local_team.affiliation }}</li>
      <!--<li><span>Email:</span> <a href="mailto:{{ instructor.email | encode_email }}" target="_blank">{{ instructor.email }}</a></li> -->
    </ul>
  </div>
  {% endfor %}
</div>