.logo {
    float: left;
    margin-right: 20px;
    padding-bottom: 15px;
    width: 120px;
}

.about {
    .post-title {
        padding-top: 20px;
    }
    .post-description {
        font-size: 20px;
    }
}

.instructors {
    padding: 0 0 0 1%;
}

%instructor-profile {
    display: block;
    float: left;
    height: 210px;

    @media screen and (min-width: 676px) {
        height: 130px;
    }

    img {
        border-radius: 50%;
        float: left;
        object-fit: cover;
        height: 100px;
        width: 100px;
        margin-right: 10px;
    }

    ul.instructor-info {
        display: block;
        float: left;
        list-style-type: none;
        padding-left: 0;
        width: 65%;
        width: -webkit-calc(100% - 130px);
        width: calc(100% - 130px);
        min-width: 210px;

        a {
            color: var(--global-theme-color);
            &:hover {
                text-decoration: underline;
            }
        }

        span {
            font-weight: 400;
        }
    }
}

.instructor-info li.topic {
    color: var(--global-shaded-bg-color); /* change the color of the text */

    a {
        color: var(--global-shaded-bg-color);
        &:hover {
            text-decoration: underline;
        }
    }
}


.instructor-profile-two-col {
    @extend %instructor-profile;
    width: 50%;
}
.instructor-profile-three-col {
    @extend %instructor-profile;
    width: 33%;
}

.news {
    border-top: 1px solid $grey-color-light;
    margin-top: 30px;
    padding-top: 20px;

    h2 {
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 10px;
    }
    table {
        border-collapse: collapse;
        width: 100%;

        .date { width: 19%; }
        .announcement { width: 81%; }

        tr { text-align: left; }
        td {
            padding: 6px 0;
            vertical-align: top;
            border: none;
        }
    }
}

/* Pop-up window hidden by default */
.popup {
    display: none;
    position: absolute;
    z-index: 1;
    padding: 15px;
    background-color: var(--global-bg-color);
    color: var(--global-text-color);
    border: 1px solid #888;
    border-radius: 5px;
    width: -webkit-calc(25%);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/* Show pop-up window when hover */
.topic:hover .popup {
    display: block;
    background-color: var(--global-bg-color)
}

/* Style for topic on hover */
.topic:hover {
    background-color: var(--global-bg-color);
    cursor: pointer;
}

