<!DOCTYPE html>
<html lang="{{ site.lang }}">

  <!-- Head -->
  <head>
  {%- if page.redirect -%}
    <meta http-equiv="refresh" content="3; url={{ site.baseurl }}/" />
  {%- endif -%}
  {% include head.html %}
    {% include scripts/jquery.html %}
    <script>
      $(document).ready(function() {
        // If there's a hash in the URL
        if (window.location.hash) {
          var hash = window.location.hash;
          // Use JavaScript's History API to replace the current history entry
          // This changes the URL without adding an entry to the browser's back button history
          // The new URL is the same as the old, but without the hash
          history.replaceState(null, null, window.location.pathname + window.location.search);
          // Then navigate back to the original URL, forcing a page reload
          window.location.href = window.location.href + hash;
          console.warn("Warning")
        }
      });
    </script>
  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    <!-- Header -->
    {%- include header.html %}

    <!-- Content -->
    <div class="container mt-5">
      {{ content }}
    </div>

    <!-- Footer -->
    {%- include footer.html %}

    <!-- JavaScripts -->

    {% include scripts/bootstrap.html %}
    {% include scripts/masonry.html %}
    {% include scripts/misc.html %}
    {% include scripts/mathjax.html %}
    {% include scripts/analytics.html %}
    {% include scripts/progressBar.html %}
  </body>
</html>
