---
layout: default
---
<!-- page.html -->
        <div class="post">

          <article>
            <!-- Image at the top -->
            {% if page.top_image -%}

              {%- assign profile_image_path = page.top_image -%}
              {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% include figure.html 
                path=profile_image_path 
                class=profile_image_class
                alt=top_image_alt
                width=95% -%}

              <br>
            {%- endif %}

            <!-- Title underneath image
            <header class="post-header">
              <h3 class="post-title">{{ page.title }}</h3>
              <p class="post-description">{{ page.description }}</p>
            </header> -->

            <!-- Page contents (from markdown) -->
            {{ content }}

          </article>

        </div>
